karman_app/.metadata
karman_app/ios/Flutter/Debug.xcconfig
karman_app/ios/Flutter/Release.xcconfig
karman_app/ios/Runner.xcodeproj/project.pbxproj
karman_app/ios/Podfile.lock
karman_app/pubspec.lock
karman_app/ttwenty.jks
karman_app/.vscode/settings.json
